0 python/data/MNIST/raw/t10k-images-idx3-ubyte
0 python/data/MNIST/raw/t10k-images-idx3-ubyte.gz
0 python/data/MNIST/raw/t10k-labels-idx1-ubyte
0 python/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
0 python/data/MNIST/raw/train-images-idx3-ubyte
0 python/data/MNIST/raw/train-images-idx3-ubyte.gz
0 python/data/MNIST/raw/train-labels-idx1-ubyte
0 python/data/MNIST/raw/train-labels-idx1-ubyte.gz
2-docker hadoop/notebooks/.Trash-1000/info/Untitled.ipynb.trashinfo
2-docker hadoop/notebooks/.Trash-1000/files/Untitled.ipynb
2-docker hadoop/notebooks/.ipynb_checkpoints/consolidado-fin-eda-checkpoint.ipynb
2-docker hadoop/notebooks/.ipynb_checkpoints/consolidado-bloque-modelo-checkpoint.ipynb
